*{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

body{
	background-color: silver;
}



/*Nav-bar*/
.nav-bar{
	background-color: white;
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 999;
	border-bottom: 2px solid silver;
}

.nav-bar ul{
	font-size: 15px;
	width: 100%;
	margin-top: 10px;
	text-align: center;
}

.nav-bar ul li{
	display: inline;
	margin: 5px 10px;
	padding: 5px;
	list-style: none;
}

.nav-bar ul a{
	text-decoration: none;
	color: #9E9E9E;
	font-style: normal;
}

 .nav-bar ul a:hover > li{
	color: #212121;
	border-bottom: 2px solid #212121;
}

#logo h2{
	margin-top: 15px;
	width: 100%;
	text-align: center;
	font-style: italic;
}
/*Nav-bar END*/



/*Big Picture*/
.big-picture{
	background-image: url(../img/big-picture.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-color: #95a5a6; 
	width: 100%;
	height: 450px;
	z-index: 1;
	filter: grayscale(1);
	padding-top: 100px;
	text-align: center;
}

#big-text h1{
	font-style: italic;
	color: white;
	width: 100%;
	position: relative;
	top: 150px;
}

#big-url h3{
	color: white;
	position: relative;
	top: 170px;
	width: 12%;
	margin: 0px auto;
	border: 2px solid white;
	padding: 10px;
	border-radius: 10px;
	font-size: 15px;
}

.big-picture a{
	text-decoration: none;
}

.big-picture a:hover > #big-url h3{
	background-color: black;
	filter: opacity(0.5);
}
/*Big Picture END*/



/*about me*/
.about-me{
	background-color: #e74c3c;
	width: 100%;
	height: auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
}

.about-me #title{
	font-style: italic;
	width: 100%;
	margin-top: 20px;
}

.about-me #profil-pic{
	margin-top: 20px;
}

.about-me #profil p{
	font-style: italic;
	width: 50%;
	margin: 0px auto;
	margin-top: 20px;
}

.about-me #profil-pic{
	border-radius: 100px;
}
/*about me END*/



/*my projects*/
.my-projects{
	background-color: #ecf0f1;
	width: 100%;
	min-height: 300px;
	height: auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

.my-projects #title{
	font-style: italic;
	width: 100%;
	margin-top: 20px;
}
/*my projects END*/

/*project*/
#projects ul{
	width: 100%;
	text-align: center;
}

#projects ul li{
	list-style: none;
	margin: 0px auto;
	margin-top: 40px;
}

#projects #item{
	width: 300px;
	height: 400px;
	background: white;
	border-radius: 10px;
	position: relative;
}

#projects #item #item-img{
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

#projects #item #title{
	font-style: normal;
	position: absolute;
	top: 150px;
	left: 0px;
}

#projects #item #url{
	position: absolute;
	bottom: 20px;
	left: 95px;
	border: 2px solid black;
	padding: 5px;
}

#projects #item #desc{
	position: absolute;
	top: 240px;
	left: 10px;
}

#projects #item #url a{
	text-decoration: none;
	color: black;
}

#projects #item #url a:hover{
	text-decoration: underline;
}
/*project END*/

/*Contact*/
.Contact{
	background-color: #34495e;
	width: 100%;
	min-height: 200px;
	height: auto;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	color: white;
}

.Contact #title{
	font-style: italic;
	width: 100%;
	margin-top: 20px;
}

.Contact #kontak ul li{
	display: inline-block;
	margin: 5px;
	margin-top: 70px;
}
/*Contact END*/