*{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
}

body{
	background-color: silver;
}



/*Nav-bar*/
.nav-bar{
	background-color: white;
	width: 100%;
	height: 100px;
	position: fixed;
	z-index: 999;
}

.nav-bar ul{
	font-size: 15px;
	width: 100%;
	margin-top: 10px;
	text-align: center;
}

.nav-bar ul li{
	display: inline;
	margin: 5px 10px;
	padding: 5px;
	list-style: none;
}

.nav-bar ul a{
	text-decoration: none;
	color: #9E9E9E;
	font-style: normal;
}

 .nav-bar ul a:hover > li{
	color: #212121;
	border-bottom: 2px solid #212121;
}

#logo h2{
	margin-top: 15px;
	width: 100%;
	text-align: center;
	font-style: italic;
}
/*Nav-bar END*/



/*Big Picture*/
.big-picture{
	background-image: url(../img/big-picture.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-color: #95a5a6; 
	width: 100%;
	height: 450px;
	z-index: 1;
	filter: grayscale(1);
	padding-top: 100px;
	position: relative;
}

#big-text h1{
	text-align: center;
	font-style: italic;
	color: white;
	width: 100%;
	position: relative;
	top: 150px;
}
/*Big Picture END*/
